
/* ---- CSS RESET ---- */
* {
    padding: 0;
    margin: 0;
    font-size:100%;
    line-height: 1em;}

/* --- Body CSS --- */ 

body {
    width:75%;
    font-family: 'Open Sans', sans-serif;
    margin:auto;
    background: #f0f0f0;
    color:#142343;
    line-height: 1.8em;}

/* --- Heading CSS --- */

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
    color: #d9ba5f;
    font-weight: normal;
    text-align: center}

/* --- CSS for paragarphs, list items, and block quotes --- */

blockquote {
    padding: 0em 4em 0em 4em;
    font-size: 1.5em;
    line-height:1.4em;
    color:#777;}

/* --- CSS for blockquotes citations --- */

blockquote cite {
    font-size:0.75em;}

p,li,blockquote { 
    margin-bottom: 2em;
    line-height; 1.5;}

blockquote p {
    hanging-punctuation:first;
    text-indent:-0.6em;}

cite {
    display: block;
    margin-top: 1em;}

/* --- CSS adjustments for short sentance that describes what will be cover on the web page --- */

#topsynopsis{
    text-align: center;
    margin-bottom:16em;
    font-size:1.5em;
    line-height: 1.5em}

/* --- Font size and margins for heading 1 --- */

h1 {
    font-size:6.5em;
    letter-spacing: 2px;
    margin-top: 2em;
    margin-bottom: 0.6em;}

/* --- Font size and margins for heading 2 --- */

h2 {
    font-size:3.375em;
    margin-bottom:0.6em;}

/* --- Font size for heading 3 --- */

h3 {
    font-size:2.369em;}

/* --- Font style change, margin bottom and colour for heading 2 within the header --- */

header h2 {
    font-style: italic;
    color:#142343;
    font-size:3.5em;
    margin-bottom: 4em;
    line-height: 1.2em;}

/* --- Colour of links --- */

a:link {color:#d9ba5f;}

/* --- Colour of links that have been clicked on --- */

a:visited {
    color:#d9ba5f;}

/* --- Colour/decoration of links when hovered over --- */

a:hover {color:#142343;
    text-decoration: underline;}

/* --- Colour of links in navagation bar --- */

nav a:link {color:white;}

/* --- Colour of links in navagation bar when clicked on --- */

nav a:visited {
    color: white;}

/* --- Colour/decoration of links in navagation bar when hovered over --- */

nav a:hover {color:#d9ba5f;
    text-decoration: underline;}

/* --- Removing decoration from links --- */

a {text-decoration: none;
    font-family: Libre Baskerville, serif;}
    
/* --- Navigation bar CSS --- */

nav { 
    position:fixed;
    top:0;
    left:0;
    margin;0;
    width:100%;
    background-color:#142343;
    padding: 1em 0;
    font-family: Libre Baskerville, serif;}

/* --- CSS for navigation bar's unordered lists --- */

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;}

/* --- CSS for navigation bar's unordered list list items --- */

nav ul li {
    display: inline;
    margin:10px;}

/* --- CSS for images --- */

img { display:block;
    margin: 0 auto;
    padding:0;
    max-width: 100%;
    margin-bottom: 2em;}

/* --- CSS for footer --- */

footer {
    text-align: center;
    font-size: 0.75em;
    line-height:1.5em;
    padding-top:1.5em;
    padding-bottom:1.5em;}

footer hr {
    margin:3em 0;}

/* --- CSS for div named bottom link --- */

#bottom-link {
    text-align: center;
    text-transform: uppercase;
    margin-bottom:0.5em;
    margin-top:2em;}

#bottom-link>a {
    margin-left:15px;
    margin-right: 15px}

/* --- CSS for tables --- */

table{
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 1.25em;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    font-family: Libre Baskerville, serif;
    font-weight: 400;}

table, tr {
    color:#142343;}

th {
    text-transform: uppercase;
    text-align: center;
    background: #142343;
    color:#fff;
    font-weight: 400;}

th, td {
    vertical-align: top;
    padding: 0.7em;
    text-align: left;
    }

table, td {
    background:#ddd;
    border: 1px, solid #fff;}

caption {
    font-size: 1.25em;
    color: #142343;
    margin-bottom:0.5em;}

/* --- CSS explaining what should change when screen width is 1600px or lower --- */

@media (max-width:1600px) {
    
/* --- Font size for heading 1 --- */    
    
h1 {
    font-size:4.5em;}
    
/* --- Font size for heading 2 that is within header --- */    

header h2 {
    font-size:3em;}

/* --- Font size and bottom margin for short description of website content --- */    
    
#topsynopsis {
    font-size: 1.3em;
    margin-bottom:4em;}
    
}

/* --- CSS explaining what should change when screen width is 1280px or lower --- */

@media (max-width:1280px) {
    
/* --- Font size for heading 1 --- */    
    
h1{
    font-size:4em;} 
}

/* --- Font size for navigation bar elements --- */

nav {
    font-size:0.9em;}

/* --- Kerning for navigation bar links --- */

nav ul li {
    letter-spacing: 2px;}

/* --- Font size for heading 2 that is within header --- */

header h2 {
    font-size:2.5em;}

/* --- CSS explaining what should change when screen width is 800px or lower --- */

@media (max-width:800px) {
    
/* --- Content container expands to take up 85% of the screen --- */    
    
body{
    width:85%;}
    
/* --- Font size for heading 1 --- */       
    
h1{
    font-size:4em;
    margin-top: 2.5em;} 

/* --- Font size for heading 2 that is within header --- */
    
header h2 {
    font-size:2.5em;
    margin-bottom: 2em;}

/* --- Font size for heading 2 --- */     
    
h2 {
    font-size:2.25em;}

/* --- Font size for short description of website content --- */       
    
#topsynopsis {
    font-size:1.2em;}

/* --- Font size for blockquotes --- */    
    
blockquote {
    font-size:1.2em;}

/* --- Font size for text within tables --- */    
    
table {
    font-size:1em;}

/* --- Font size for navigation bar elements and applying flex box to navigation bar --- */    
    
nav {
    font-size:0.9em;
    display: flex;
    justify-content: center;
    position: static;}

/* --- Line height within navigation bar to make elements easier to see and easier to click on for mobile devices --- */    
    
nav ul li {
    line-height:2em;}

/* --- Applying a width to navigation bar element list to stop make site more visually appealing --- */    
    
nav ul {
    width:85%;}

}

/* --- CSS explaining what should change when screen width is 600px or lower --- */

@media (max-width:600px) {
    
 /* --- Font size for links at bottom of web page --- */   
    
#bottom-link {
    font-size:0.9em;}
    
/* --- reducing space between each link at the bottom of webpage --- */    
    
#bottom-link a {
    margin-left:7px;
    margin-right:7px;}
    
/* --- CSS explaining what should change when screen width is 480px or lower --- */    
    
@media (max-width:480px) {

/* --- font size of links at the bottom of web page --- */    
    
#bottom-link {
    font-size:0.7em;}
    
/* --- reducing space between each link at the bottom of webpage --- */      
    
#bottom-link a {
    margin-left:5px;
    margin-right:5px;}
    
/* --- Font size of type within tables --- */    
    
table {
    font-size:0.8em;}
    
/* --- Reducing font size of block quote and expanding width of blockquotes to stop blockquote becoming to vertically long --- */   
    
blockquote {
    font-size:1.1em;
    width:100%;
    padding: 0}
    
/* --- Font size for short description of website content --- */   
    
#topsynopsis {
    font-size:1.1em;}
    
/* --- Font size for elements within navigation bar --- */    
    
nav {
    font-size:0.8em;}
    
/* --- Font size for h1 elements and increasing top margin and setting new bottom margin for smaller devices --- */    
    
h1 {
    font-size: 2.5em;
    margin-top:4em;
    margin-bottom: 1em;}
    
/* --- Font size for heading 2 within header tag --- */    
    
header h2 {
    font-size:2em; }
    
/* --- Font size for heading 2 --- */    
    
h2 {
    font-size: 2em;}
    
/* --- CSS explaining what should change when screen width is 360px or lower --- */    
    
@media (max-width:360px) {
    
/* --- Font size for type within table --- */    
    
table{
    font-size:0.7em;}
    
/* Font size for links at the bottom of webpage and assigning line height to sepeate bottom line of links from top line --- */    
    
#bottom-link {
    font-size: 0.8em;
    line-height:2em;}
    
/* --- Reducing spacing between links at the bottom of the webpage --- */    
    
#bottom-link a{
    margin-left: 5px;
    margin-right: 5px;}
       
/* --- Assigning font size for h1 tages and increasing top margin size to adapt to larger navigation bar --- */     
    
h1 {
    font-size: 2em;
    margin-top: 6em;}
    
/* --- Font size for heading 2 within header tag --- */    
    
header h2 {
    font-size: 1.7em;}
    
/* --- Font size for heading 2 tags --- */    
    
h2 {
    font-size:1.7em;}
    
/* --- Font size for short description of website content --- */    
    
#topsynopsis {
    font-size: 1em;}
    
/* --- Font size for elements within navigation bar --- */    
    
nav {
    font-size: 0.7em;}
}
    




    


        



